# General filetypes
*.backup.gui
*.blend*
*.dll
*.dso
*.dylib
*.exe
*.exp
*.hop
*.i64
*.id0
*.id1
*.id2
*.ilk
*.lib
*.lo
*.log
*.nam
*.o
*.ogv
*.orig
*.pak
*.pdb
*.Plo
*.Po
*.so
*.sublime*
*.swp
*.tar
*.tgz
*.til
*.tlog
*.torsion.*
*.xcuserdatad
*.obj
*.psd

# Filenames
banlist.cs
clipboard.gui
config.cs
Contents
lbprefs.cs
Makefile
mbpPrefs.cs
newObject.cs
prefs.cs
redundancycheck.cs
screenshot_*.png
testMission.mis
WEprefs.cs

# Specific paths
vv*.txt
cla.txt
build
MBExtender/external/curl/tests/
MBExtender/external/asio/src/examples/
MBExtender/external/asio/src/tests/
MBExtender/external/asio/doc/
MBExtender/external/curl/docs/
*.pch
.vs
